/* Editor Layout */

.editor-container {
  /* display: grid; */
  display: none;
  grid-template-columns: minmax(40px, 1fr) minmax(auto, 1000px) minmax(40px, 1fr);
}

.editor-container > *:not(.full) {
  grid-column: 2;
}

.editor-container > .full {
  grid-column: 1 / -1;
}
