/* ---------------------------------------Mobile------------------------------------- */

@media (max-width: 880px) {
}

/* ---------------------------------------Small------------------------------------- */

@media (min-width: 640px) {
  .gallery-container {
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 600px) minmax(40px, 1fr);
    row-gap: 2em;
  }
  .editor-container {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 600px) minmax(20px, 1fr);
  }
}

/* ---------------------------------------Medium------------------------------------- */

@media (min-width: 880px) {
  .gallery-container {
    grid-template-columns: minmax(60px, 1fr) minmax(auto, 800px) minmax(60px, 1fr);
    row-gap: 2em;
  }
  .editor-container {
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 800px) minmax(40px, 1fr);
  }
}

/* ---------------------------------------Large------------------------------------- */

@media (min-width: 1080px) {
  .gallery-container {
    grid-template-columns: minmax(100px, 1fr) minmax(auto, 1000px) minmax(100px, 1fr);
    row-gap: 2em;
  }
  .editor-container {
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1000px) minmax(40px, 1fr);
  }
}
