@font-face {
  font-family: Hey-Comic, sans-serif;
  src: url(/fonts/hey_comic/Hey\ Comic.ttf);
}

@font-face {
  font-family: Keep-Cheese, sans-serif;
  src: url(/fonts/keep_cheese/Keep\ Cheese.ttf);
}

@font-face {
  font-family: comictans, serif;
  src: url(/fonts/comictans/ComicTans.ttf);
}
